<div class="container-fluid mt-2">
  <div class="row mb-3 d-flex align-items-center">
    <div
      class="col-12 col-lg-6 d-flex align-items-center justify-content-center"
    >
      <img class="img-thumbnail" src="assets/argentina.png" alt="" />
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column">
      <div
        onclick="window.open('https://www.linkedin.com/in/pedraza-martindiego/', '_blank');"
        class="d-flex align-items-center"
        style="cursor: pointer; white-space: nowrap"
      >
        <i class="bi bi-linkedin" style="font-size: 3rem"></i>
        <h4 class="ms-1">pedraza-martindiego</h4>
      </div>
      <div class="d-flex align-items-center" style="max-width: 200px">
        <i class="bi bi-envelope d-none d-lg-flex" style="font-size: 3rem"></i>
        <h4 class="ms-1" style="word-wrap: break-word">
          pedraza.martindiego@gmail.com
        </h4>
      </div>
    </div>
  </div>
</div>
