<nav
  class="navbar bg-dark border-bottom border-body navbar-expand-lg pe-5 sticky-top"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/Resume">
      <img src="assets/favicon.png" alt="icon" width="120" height="96" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Resume">
            <i class="bi bi-house-door-fill"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Resume/tech">
            <i class="bi bi-laptop-fill"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Resume/work">
            <i class="bi bi-briefcase-fill"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Resume/contact">
            <i class="bi bi-envelope-at-fill"></i>
          </a>
        </li>
        <li class="nav-item dropdown me-5">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-file-earmark-arrow-down-fill"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Español</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
