<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Martin Pedraza</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../styles/resume.css">
</head>
<body>
    <div class="sticky-navbar py-2 border-secondary" id="stickyNav">
        <div class="container text-center">
            <a href="../index.html" class="btn btn-dark btn-sm"><i class="bi bi-house"></i></a>
            <a href="/pdf/martin-pedraza.pdf" download="martin-pedraza.pdf" class="btn btn-danger btn-sm"><i class="bi bi-file-earmark-pdf"></i></a>
        </div>
    </div>

    <div class="header">
        <div class="name" id="name"></div>
        <div class="contact" id="location"></div>
        <div class="contact" id="contact-info"></div>
        <div class="summary" id="summary"></div>
    </div>

    <div class="section">
        <div class="section-title">PROFESSIONAL EXPERIENCE</div>
        <div id="experience"></div>
    </div>

    <div class="section">
        <div class="section-title">EDUCATION</div>
        <div id="education"></div>
    </div>

    <div class="section">
        <div class="section-title">ADDITIONAL SKILLS</div>
        <ul id="skills"></ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../scripts/resume.js"></script>
</body>
</html>