<div class="container-fluid mt-5">
  <div class="row mb-3">
    <div
      class="col-12 col-lg-6 d-flex align-items-center justify-content-center"
    >
      <div class="card mb-3 p-1">
        <div class="row g-0">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            <img
              src="assets/UTN.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Tecnicatura Universitaria en Programación
              </h5>
              <p class="card-text">
                <a
                  href="https://github.com/martin-pedraza/TechDiverse"
                  class="btn btn-dark"
                  target="_blank"
                  >Ver algunos proyectos</a
                >
              </p>
              <p class="card-text">
                <small class="text-body-secondary">Graduación: 2023</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column">
      <div
        onclick="window.open('https://github.com/martin-pedraza', '_blank');"
        class="d-flex align-items-center"
        style="cursor: pointer"
      >
        <i class="bi bi-github" style="font-size: 3rem"></i>
        <h4 class="ms-1">martin-pedraza</h4>
      </div>
      <div
        onclick="window.open('https://github.com/martin-pedraza/CodeChallenges', '_blank');"
        class="d-flex align-items-center"
        style="cursor: pointer"
      >
        <img src="assets/HackerRank.png" alt="" width="50px" />
        <h4 class="ms-1">pedraza_martind1</h4>
      </div>
      <div
        onclick="window.open('https://github.com/martin-pedraza/ProgrammingWisdomWiki', '_blank');"
        class="d-flex align-items-center"
        style="cursor: pointer"
      >
        <i class="bi bi-book" style="font-size: 3rem"></i>
        <h4 class="ms-1">Wiki - Libros de programacion</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Game Room</h5>
          <p class="card-text">
            Plataforma web con una emocionante colección de cuatro juegos
            distintos, que incluye Ahorcado, Trivia, Mayor o Menor y un desafío
            de Detén el Reloj.
          </p>
          <a
            href="https://gameroom-97620.web.app/"
            target="_blank"
            class="btn btn-danger"
            >Ver Proyecto Angular</a
          >
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clinica Online</h5>
          <p class="card-text">
            Plataforma integrada para profesionales de la salud, simplificando
            la programación de citas médicas y mejorando la comunicación
            eficiente entre proveedores y pacientes
          </p>
          <a
            href="https://clinica-b48cb.web.app/"
            target="_blank"
            class="btn btn-danger"
            >Ver Proyecto Angular</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
