<div class="card mb-3 container">
  <div class="row g-0">
    <div class="col-md-4 d-flex justify-content-center">
      <img src="assets/profile.jpg" class=" rounded img-thumbnail" alt="..." />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Martin Pedraza </h1><h4>| Python & Angular Developer</h4>
        <p class="card-text overflow-auto" style="max-height: 40vh;">
            Soy Marin Pedraza, un apasionado programador de Argentina con experiencia especializada en el desarrollo de Python y Angular. Mi sólida formación en informática se refleja en una exitosa trayectoria académica, donde he liderado diversos proyectos, desde sistemas backend en Python hasta la creación de interfaces dinámicas con Angular. Mi GitHub exhibe una amplia variedad de proyectos, incluyendo aplicaciones móviles y plataformas web, destacando mi competencia en tecnologías como Angular, Ionic y Slim PHP. Comprometido con la excelencia técnica, busco continuamente desafíos innovadores para aplicar mis habilidades y contribuir al éxito de proyectos emocionantes.
        </p>
      </div>
    </div>
  </div>
</div>
