<div class="card mb-3 container">
  <div class="row g-0">
    <div class="col-md-4 d-flex justify-content-center">
      <img src="assets/profile.png" class=" rounded img-thumbnail" alt="..." style="max-height: 75vh;"/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Martin Pedraza </h1><h4>| Node & Angular Developer</h4>
        <p class="card-text overflow-auto" style="max-height: 40vh;">
          Soy Martín Pedraza, un apasionado desarrollador web de Argentina con experiencia 
          especializada en Angular y Node.js. Con una sólida formación en informática y una 
          exitosa trayectoria académica, he liderado diversos proyectos centrados en la creación 
          de interfaces dinámicas y sistemas backend robustos. Mi experiencia se refleja en mi 
          amplia gama de proyectos en GitHub, que incluyen aplicaciones móviles y plataformas web. 
          Estoy comprometido con la excelencia técnica y constantemente busco desafíos innovadores 
          para aplicar mis habilidades y contribuir al éxito de proyectos emocionantes en el 
          mundo del desarrollo web
        </p>
      </div>
    </div>
  </div>
</div>
